body{
    background-image:url(assets/Login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.finance-text{
    transition: color 0.3s ease;
    cursor: default;
}

.finance-text:hover{
    color: #00e5ff !important;
}

.container::-webkit-scrollbar{
    display:none;
}

.agri-text:hover{
    color: #82e0aa !important;
}
